<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "burgermaker.xxscienceboyxx.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>BurgerCreator</name>

    <description>
       An awesome game where you can create burgers! Double click toppings, bread, and the patty to create a copy of them. Bring food to the furnace to cook it.
    </description>

    <author href="http://scratch.mit.edu/users/xxscienceboyxx" email="duibhai107@gmail.com">
        xxscienceboyxx
    </author>

</widget>
